.site-content {
  padding: 20px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  padding: 40px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  .anticon-smile{
    color:coral;
    margin-right: 10px;
    font-size: 40px;
  }
}